.infografiaContainer{
    margin-top: 11%;
    

}

.pack1{
    display: flex;
    flex-flow: nowrap;
    
}

.overlayImage1{
    /* border: 1px solid Black; */
    width: 700px;
    height: 400px;
    position: absolute;
    background: linear-gradient(to top right, transparent 90%, white 50%), linear-gradient(to bottom left, transparent 80%, white 80%);
    z-index: 0;
}

.imagen1{
    width: 600px;
    height: 400px;
    z-index: -2;
    margin-left: 100px;
}

.pregunta{
   margin-left: 118px;
    font-family: Raleway;
    color: dodgerblue;
    text-transform: uppercase;
}

.pregunta:hover{
    text-decoration: underline 2px;
}

.parrafo1{
    margin-top: 80px;
    margin-left: 675px;
    padding: 25px;
    background: dodgerblue;
    color: gainsboro;
    position: absolute;
    width: 510px;
    font-family: Raleway;
    font-size: 28px;
    box-shadow: 7.5px 7.5px 15px grey;
}

@media only screen and (max-width:1280px){
    .infografiaContainer{
        margin-top: 16%;
    }

    .imagen1{
        width: 400px;
        height: 300px;
    }

    .overlayImage1{
        /* border: 1px solid Black; */
        width: 500px;
        height: 300px;
    }

    .parrafo1{
        margin-top: 60px;
        margin-left: 475px;
        padding: 10px;
        font-size: 20px;
        width: 320px;
        text-align: left;
    }
    
    .pregunta{
        margin-top: 0px;
        margin-left: 45px;
        font-size: 20px;
     }
    
}

@media only screen and (max-width:800px){
    .infografiaContainer{
        margin-top: 27%;
        
    }
    .overlayImage1{
        background: transparent;
        width: 100%;
        height: auto;
    }
    .pack1{
        flex-flow: wrap;
    }
    .imagen1{
        width: 100%;
        height: auto;
        z-index: 0;
        margin-left: 0px;
        margin-top:50px;
    }

    .pregunta{
        /* position: absolute; */
        margin-top: -320px;
        font-size: 16.5px;
        margin-left: 150px;
    }


    .parrafo1{
        position: sticky;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px;
        font-size: 15px;
        text-align: center;
        width: 100%;
        box-shadow: none;
    }
}