.buttonContainer{
    /* border: 1px solid rgb(199, 21, 21);  */
    position: absolute;
    margin-left:100px;
    margin-top:510px;
}

.buttonText{
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    background: transparent;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.buttonText:hover{
    background: white;
    color: dodgerblue;
}

@media scree and (max-width:1920px){
  
}

@media screen and (max-width:1280px){
    .buttonContainer{
        margin-left:100px;
    margin-top:470px;
    }
}

@media(max-width:800px){
    .buttonContainer{
        margin-left:170px;
        margin-top:415px;
    }
}
